<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">{{vm.title}}</div>
    <div class="panel-body">
        <div id="exTab2" class="container">
            <ul class="nav nav-tabs" style="width:91%;">
                <li class="active">
                    <a ui-sref=".basic" ui-sref-active="active" data-toggle="tab">General</a>
                </li>
                <li>
                    <a ui-sref=".address" data-target="#" data-toggle="tab">Contact</a>
                </li>
                <li>
                    <a ui-sref=".payments" data-target="#" data-toggle="tab">Statement</a>
                </li>
            </ul>
            <div ui-view></div>
        </div>
    </div>

</div>
