<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>demo.topeogundipe.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://demo.topeogundipe.com:8172/MsDeploy.axd?site=victoryint-001-subsite6</MSDeployServiceURL>
    <DeployIisAppPath>victoryint-001-subsite6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\victoryint-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5023.site4now.net;Initial Catalog=DB_9B9126_mpaydb;Persist Security Info=True;User ID=DB_9B9126_mpaydb_admin;Password=mpay@2345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MPay.Models.ApplicationDbContext, MPay" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MPayEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5018.smarterasp.net;Initial Catalog=DB_9C4367_mpaydb1;Persist Security Info=True;User ID=DB_9C4367_mpaydb1_admin;Password=enterprise2003" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MPay.Domain.MPayEntities, MPay.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="connectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=sql5023.site4now.net;Initial Catalog=DB_9B9126_mpaydb;Persist Security Info=True;User ID=DB_9B9126_mpaydb_admin;Password=mpay@2345" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQL2012;Initial Catalog=MPay;User ID=enterprise;Password=ent2003+" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQL2012;initial catalog=MPay;user id=enterprise;password=ent2003+;multipleactiveresultsets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connectionString-Web.config Connection String">
      <ParameterValue>data source=sql5023.site4now.net;initial catalog=DB_9B9126_mpaydb;persist security info=True;user id=DB_9B9126_mpaydb_admin;password=mpay@2345;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql5023.site4now.net;Initial Catalog=DB_9B9126_mpaydb;Persist Security Info=True;User ID=DB_9B9126_mpaydb_admin;Password=mpay@2345</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MPayEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MpayModel.csdl|res://*/MpayModel.ssdl|res://*/MpayModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5018.smarterasp.net;Initial Catalog=DB_9C4367_mpaydb1;Persist Security Info=True;User ID=DB_9C4367_mpaydb1_admin;Password=enterprise2003"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>